<html>  
    <head>
        <title>BIG DATA - tiny example</title>
        <link rel="stylesheet" href="/libs/material.min.css">
        <script src="/libs/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="/libs/jquery.min.js"></script>
        <link rel="stylesheet" href="/index.css">
        <script src="/new.js"></script>
    </head>
    <body>
        <div class="flex row center padding-top">
            <div class="flex column">
                empty
            <div>
        </div>
    </body>
</html>